body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.confirmed-container{
  background: #e7e7e7;
  padding-top: 2rem;
} 

.container, .row{
  --bs-gutter-x:0rem !important;
}
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-content h3{
  text-align: left;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.container label {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: rgb(34, 34, 34);
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  
  background: #233141 none repeat scroll 0 0;
  box-shadow: 0 0 0.2rem 0 #aba4d0;
  padding-right: 0.5rem;
}

.navigation .link:hover{
  color: black;
}

.link-primary{
  text-align: left;
}

.link-primary:hover{
  cursor: pointer;
}

button:hover{
color: white;
}


button .btn-link{
  color: black;
  text-decoration: none;
}

button .btn-link:hover{
  color: white;
}

.alt-link{

  padding-top: 2rem;
  float: right;
}


.link-items{
 
  background: #aba4d0;
}

.link-item .link{
  text-decoration: none;
  
}

.activity-home{
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.widgets{
  display: flex;
  padding-bottom:1.5rem;

}

.widgets .widget{
  padding: 1rem;
  margin: 0.2rem;
  background: rgb(175, 202, 212);
  border-radius: 5px;
  transition: all 0.5s;
}


.catalogue-item{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.item-content{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(247, 238, 238);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align:left;
  margin: 0.5rem;
  width: 100%;
  height: 270px;  
  overflow: hidden;
  border-radius: 12px;
}

.image-container{
  position:relative;
  display:inline-block;

}


.image-container img{
  height: 200px;
  width: 260px;
  transition: 0.5s all ease-in-out;
}

.image-container img:hover{
  transform: scale(1.12);
}

.badge-item{
  position:absolute;
  top: 0px;
  left: 3px;
  background:#cc4040;
  text-align: center;
  border-radius: 16px;
  color:white;
  padding:5px;
  font-size:16px;

}

.details-item{
  margin-top: 0.5rem;
}


.widgets .widget:hover{
  background: skyblue;

}
.widgets .count-icon{
  display: flex;
  justify-content:space-between;
}


.count-icon .count{
  font-weight: bold;
}


.sub-nav{
 
  padding-top: 1rem;
  
}

.item-detail{
  display: flex;
  margin:1rem;
  padding-top: 1rem;
}
.item-image{
  margin-top: 3rem;
  width: 80%;
  height: 80%;
}
.user-detail{
  width:50%;
  margin-left:1rem;
  padding-left: 1rem;
}


.delivery-details{
  display: flex;
  margin: 0 auto;
  padding: 16px;
}

/* .delivery-details .item-details{
  padding: 1rem;
} */

/* .delivery-details .item-details:nth-child(2){
  background: lightskyblue;
} */

.clients-details{
  border: 1px solid rgb(247, 238, 238);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
}


.transfer-btn{
  padding-top: 1rem;
}



table {
  counter-reset: rowNumber;
}

table tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  padding-right: 0.3em;
  text-align: right;
}

.progress-form-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* .banner{
  position:relative;
  display:inline-block;
  height: 200px;  
}

.banner img{
  width: 100%;
}

.banner .driver-welcome{
  position:absolute;
  top: 25%;
  left: 40%;
  text-align: center;
  color:#302dc9;
  padding:5px;
  font-size:32px;

} */

.steps{
  color: black;
}


/* item details */

ul.list {
  margin: 0;
  padding: 0;
  list-style: none;
 
}
ul.list li {
  display: flex;
  padding: 5px;
  flex-direction: column;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
  border-left: 4px solid #fff;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
}

ul.list li .title {
  font-weight:800;
  font-size: 18px;
  position: relative;
  z-index: 1;
  line-height: 18px;
}

ul.list li .subtitle {
  position: relative;
  z-index: 1;
  font-size: 14px;
  opacity: 0.7;
}

ul.list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: width 0.3s ease;
}

ul.list li:hover {
  color: #000;
}

ul.list li:hover:after {
  width: 100%;
  transition: width 0.3s ease;
}

/*  */
.search-add-container{
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

input[type="search"]{
padding:  4px;
}


/* responsiveness */

@media(max-width: 768px){
  .widgets{
    flex-wrap: wrap;
  }

  .widgets .widget{
    width: 48%;
  }

  .item-detail{
    flex-wrap: wrap;
    margin:0rem;
    padding: 0rem;
  }


  .user-detail{
    width: 100%;
    margin:0rem;
    padding: 0rem;
    padding-top:1rem;
  }

  .item-image{
    width: 100% !important;
  }
}

@media(max-width: 425px){
 
  .container{
    max-width: 425px;
  }
  .widgets .widget{
    width: 98%;
  }

  .catalogue-item{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:1rem;
  }
 
  .row {
    background: #e7e7e7;
    padding: 5%;
    width: 100%;  
}

  .clients-details {
      /* background: #ccc; */
      display: inline-block;    
      padding: 2%;   
  }

  .delivery-details{
    flex-wrap: wrap;
  }

  .clients-details, .start-btn{
      width: 100%;

  }
  .start-btn{
    padding-top: 1rem;
  }

  .delivery-btn{
    padding-top: 1rem;
  }

}


@media (max-width: 375px){
  .container{
    max-width: 375px;
  }
}

 


